.DS_Store
book3/.chinese
config.php
*.swp
*.pyc
*.bak
~*
__pycache__
code.zip
code3.zip
code/*.zip
code3/*.zip
book3/x.pdf
book3/x.epub
book3/x.mobi
book3/x.docx
unit2/testtmp
unit3/testtmp
tsugi
mod/*
media/video
media/audio
py4e-private

geodata.sqlite
opengeo.sqlite
content.sqlite
content.sqlite.zip
spider.sqlite
friends.sqlite
index.sqlite
trackdb.sqlite
rosterdb.sqlite
gline.js
gword.js
*.sublime*
secret.py
*.apps.googleusercontent.com.json
cron.txt
