body {
  font-family: arial, sans-serif;
}

.req {font-weight: bold}

a, a:link 
{
color: #0000cc;
}

a.selected {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4 
{
margin-bottom: 0pt;
}


#header {
  font-size: 120%;
  padding: 4px 4px 4px 4px;
  margin-top: 5px;
  background-color: #d5ddf3;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3366cc;
}
#header p {
   margin: 0;
}

#bodycontent 
{
background-color: transparent;
border-top-width: 0pt;
border-right-width: 0pt;
border-bottom-width: 0pt;
border-left-width: 0pt;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0.3em;
float: left;
}
#header h1 
{
font-size: 20px;
line-height: 1.3em;
font-weight: bold;
background-color: transparent;
border-top-width: 0pt;
border-right-width: 0pt;
border-bottom-width: 0pt;
border-left-width: 0pt;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-right: 0pt;
padding-bottom: 0pt;
padding-left: 0.3em;
float: left;
}

#header ul 
{
line-height: 1em;
text-align: right;
list-style-type: none;
list-style-image: none;
list-style-position: outside;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0.17em;
padding-right: 0pt;
padding-bottom: 0.47em;
padding-left: 0pt;
}

.toolbar li {
  font-size: 14px;
  display:inline;
  text-align:right;
  margin:0;
  padding:.5em;
}

li {
    padding-top: .5em;
    padding-bottom: .5em;
}

p.title {
   margin: 10px 0px 0px 0px;
   font-size: 110%;
   font-weight: bold;
}
p.summary {
   margin: 0;
}
p.date {
   color: green;
   margin: 0;
}
p.stitle {
   margin: 10px 0px 0px 0px;
   font-size: 110%;
   font-weight: bold;
}
p.stext {
   margin: 0;
}
p.slink {
   color: green;
   margin: 0;
}
p.sponsor {
   text-align: center;
   color: grey;
}
#results {
    margin: 4px 200px 4px 4px;
    padding-right: 20px;
}
#ads {
    margin: 4px 4px 4px 4px;
    position: absolute;
    right: 0px;
    width: 200px;
    top: 0px;
    border-left: 2px solid blue;
    padding-left: 8px;
}
#header {
    margin: 4px 4px 4px 4px;
    }

#container{
    position: absolute;
    top: 35px;
    width: 97%;
    margin: 4px 4px 4px 4px;
    }

