  body {
  font-family:Arial;
  background:White;
  font-size:14px;
  }
  a:link, a:visited {
  text-decoration: none;
  color:#2a496f;
  }
  h1, h3 {
  color:#8b0000;
  font-size:20px;
  }
  #header {
  border-top: 1px solid;
  border-bottom: 1px solid;
  }
  #header li {
  display: inline;
  }
  #header a:link, #header a:visited {
    text-decoration: none;
    background: LightSlateGrey;
    color: black;
  }
  #footer {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  color: white;
    background: #00338B;
  }
  #footer li {
    display: inline;
    color: white;
  }
  #footer a:link, #footer a:visited {
    text-decoration: none;
    color: white;
  }
  #sidebar {
  position:absolute;
  top: 0;
  left: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  }
  #xmain {
  position: absolute;
  top: 0;
  left: 225px;
  margin: 0;
  padding: 0;
  }
