Options +Indexes
AddType text/plain .py

<IfModule headers_module>
Header set Cache-Control "max-age=604800, public"

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "GET"
</IfModule>
