/* Skip to main content link - visible to screen readers and on keyboard focus */
.show-for-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.show-for-sr:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0.5em 1em;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
  background: #fff;
  z-index: 10000;
}

div.row {
    max-width: 85%;
}

pre {
    margin-left: 2em;
}

iframe {
  opacity: 0;
  transition: opacity .333s ease-in;
}

iframe.lazyloaded {
  opacity: 1;
} 
