Options +Indexes
AddType text/plain .py

# https://perishablepress.com/better-default-directory-views-with-htaccess/
# IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble
