
# FallbackResource index.php

# Turn rewriting on
Options +FollowSymLinks

# Redirect requests to index.php
# RewriteBase /
RewriteEngine On
RewriteRule .* index.php

Header set Cache-Control "max-age=604800, public"


