{% extends "books/pfe/base.html" %}

{% block chaptercontent %}
<div class="row">
<div class="columns small-12">

<h1 id="python-programming-on-windows">Python Programming on Windows</h1>
<p>In this appendix, we walk through a series of steps so you can run Python on Windows. There are many different approaches you can take, and this is just one approach to keep things simple.</p>
<p>First, you need to install a programmer editor. You do not want to use Notepad or Microsoft Word to edit Python programs. Programs must be in &quot;flat-text&quot; files and so you need an editor that is good at editing text files.</p>
<p>Our recommended editor for Windows is NotePad++ which can be downloaded and installed from:</p>
<p><a href="https://notepad-plus-plus.org/" class="uri">https://notepad-plus-plus.org/</a></p>
<p>Then download a recent version of Python 2 from the <a href="www.python.org" class="uri">www.python.org</a> web site.</p>
<p><a href="https://www.python.org/downloads/" class="uri">https://www.python.org/downloads/</a></p>
<p>Once you have installed Python, you should have a new folder on your computer like <code>C:</code>\<code>Python27</code>.</p>
<p>To create a Python program, run NotePad++ from the Start Menu and save the file with a suffix of &quot;.py&quot;. For this exercise, put a folder on your Desktop named <code>py4inf</code>. It is best to keep your folder names short and not to have any spaces in your folder or file name.</p>
<p>Let's make our first Python program be:</p>
<pre><code>print('Hello Chuck')</code></pre>
<p>Except that you should change it to be your name. Save the file into <code>Desktop</code>\<code>py4inf</code>\<code>prog1.py</code>.</p>
<p>Then open a command-line window. Different versions of Windows do this differently:</p>
<ul>
<li><p>Windows Vista and Windows 7: Press <em>Start</em> and then in the command search window enter the word <code>command</code> and press enter.</p></li>
<li><p>Windows XP: Press <em>Start</em>, then <em>Run</em>, and then enter <code>cmd</code> in the dialog box and press <em>OK</em>.</p></li>
</ul>
<p>You will find yourself in a text window with a prompt that tells you what folder you are currently &quot;in&quot;.</p>
<p>Windows Vista and Windows-7: <code>C:</code>\<code>Users</code>\<code>csev</code><br />
Windows XP: <code>C:</code>\<code>Documents and Settings</code>\<code>csev</code></p>
<p>This is your &quot;home directory&quot;. Now we need to move into the folder where you have saved your Python program using the following commands:</p>
<pre><code>C:\Users\csev\&gt; cd Desktop
C:\Users\csev\Desktop&gt; cd py4inf</code></pre>
<p>Then type</p>
<pre><code>C:\Users\csev\Desktop\py4inf&gt; dir</code></pre>
<p>to list your files. You should see the <code>prog1.py</code> when you type the <code>dir</code> command.</p>
<p>To run your program, simply type the name of your file at the command prompt and press enter.</p>
<pre><code>C:\Users\csev\Desktop\py4inf&gt; prog1.py
Hello Chuck
C:\Users\csev\Desktop\py4inf&gt;</code></pre>
<p>You can edit the file in NotePad++, save it, and then switch back to the command line and execute the program again by typing the file name again at the command-line prompt.</p>
<p>If you get confused in the command-line window, just close it and open a new one.</p>
<p>Hint: You can also press the &quot;up arrow&quot; at the command line to scroll back and run a previously entered command again.</p>
<p>You should also look in the preferences for NotePad++ and set it to expand tab characters to be four spaces. This will save you lots of effort looking for indentation errors.</p>
<p>You can also find further information on editing and running Python programs at <a href="www.pythonlearn.com" class="uri">www.pythonlearn.com</a>.</p>
</div>
    
</div>
{% endblock %}

{% block toc %}
<ul class="right">
<li class="has-dropdown"><a href="#python-programming-on-windows">Python Programming on Windows</a></li>
</ul>
{% endblock %}
{% block extra_css %}

  <style type="text/css">
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
  </style>

{% endblock %}

{% block title %}Chapter 17 | Python For Everyone | Trinket{% endblock %}
