# Allow a large amount of data to be uploaded
# enforce file zize restrictions in the upload code

php_value upload_max_filesize 1M
php_value post_max_size 1M
php_value max_execution_time 3000
php_value max_input_time 3000

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ tsugi.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    FallbackResource tsugi.php
</IfModule>
