# Allow a large amount of data to be uploaded
# enforce file zize restrictions in the upload code

php_value upload_max_filesize 1M
php_value post_max_size 1M
php_value max_execution_time 3000
php_value max_input_time 3000
