body {
  font-family: arial, sans-serif;
}
.mobile-menu a{
  font-size: 64px;
}
.req {font-weight: bold}

a, a:link 
{
  color: #0000cc;
}
.menu > li:not(.menu-text) > a{
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-menu > ul > li > a{
  padding: 5px 25% 5px 25%;
}
.top-bar-right a{
  font-weight: bold;
}
#menu-button > i{
  font-size: 80px;  
  padding-top:25px;
  padding-right:75px;
}
.mobile-menu a,
.title-bar,
.menu a,
.menu-text,
ul.menu,
.menu li,
#menu-button,
.mobile-menu ul li{
  color: #D9D9D9;
  background-color:#2B5B84; 
}
a.selected {
  color: #2B5B84;
  font-weight: bold;
  text-decoration: none;
  background-color: #F8CE43;
}
.top-bar{
  padding:0;
  background-color:#2B5B84;
}
#first-row{
  margin-top:15px;
}
.menu-text > a{
  color: #FFDB4F;
  font-size:2em;
  padding:0;
}

