body {
  font-family: arial, sans-serif;
}
.mobile-menu a{
  font-size: 20px;
}
.req {
font-weight: bold
}
a:link {
  color: #0000cc;
}
.top-bar .menu > li:not(.menu-text) > a{
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-menu > ul > li > a{
  padding: 5px 25% 5px 25%;
}
.top-bar-right a{
  font-weight: bold;
}
#menu-button > i{
  font-size: 35px;  
  padding-top:15px;
  padding-right:15px;
}
.mobile-menu a,
.title-bar,
.top-bar .menu a,
.menu-text,
.top-bar .menu li,
#menu-button,
.mobile-menu ul li{
  color: #D9D9D9;
  background-color:#2B5B84; 
}
.title-bar ul li a.selected,
.top-bar ul li a.selected{ 
  color: #2B5B84;
  font-weight: bold;
  text-decoration: none;
  background-color: #F8CE43;
}
.top-bar{
  padding:0;
  background-color:#2B5B84;
}
#first-row{
  margin-top:15px;
}
.top-bar .menu-text > a{
  color: #FFDB4F;
  font-size:2em;
  padding:0;
}
.top-bar-right a:not(.selected):hover{
  background-color: #D9D9D9;
  color: #2B5B84;
}

.title-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
#mobile-support{
    margin-top: 120px;
}
.title-bar .menu-text a{
  color: #FFDB4F;
  font-size: 35px;
}
.mobile-menu{
  margin-top: 90px;
}
.accordion .is-active{
  background-color:rgb(255, 249, 119);
}
.accordion .is-active .accordion-title{ 
  color: black;
  background-color: rgb(143, 191, 232);
}

/*
  Foundation menu note: add class="menu-text" to the li in an accordion to get the links
  to display inline.  These styles overide the default styles used in top bar so they
  don't show for accordions
*/
.acc-menu .menu-text {
  background-color: inherit;
  font: inherit;
  color: inherit;
}
