<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !=/favicon.ico
    RewriteRule ^ tsugi.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    FallbackResource tsugi.php
</IfModule>
